@import 'reset.css';
@import 'header/header.css';
@import 'mainPage/mainPage.css';
@import 'slider/slider.css';
@import 'modal/modal.css';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding-bottom: 100px;

    @supports (overflow: clip) {
        overflow: clip;
    }

    > main {
        flex: 1 1 auto;
    }

    > * {
        min-width: 0;
    }
}

[class*="__container"] {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}